USE [master]
GO
/****** Object:  Database [DbSV]    Script Date: 7/29/2022 1:05:53 PM ******/
CREATE DATABASE [DbSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSV]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LopId] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[Session] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ClassSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleEntities]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleEntities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[LopId] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[Session] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ScheduleEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectLop]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectLop](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LopId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubjectLop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLop]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLop](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LopId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserLop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPoint]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[PointStudy] [decimal](18, 2) NOT NULL,
	[PointGK] [decimal](18, 2) NOT NULL,
	[PointCK] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserPoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/29/2022 1:05:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SubjectId], [Code]) VALUES (1, N'Lớp Tin Học', CAST(N'2022-07-29T11:58:58.753' AS DateTime), CAST(N'2022-07-29T11:58:58.753' AS DateTime), NULL, NULL, 1, 0, 0, NULL)
INSERT [dbo].[Class] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SubjectId], [Code]) VALUES (2, N'Lớp Kế Toán', CAST(N'2022-07-29T11:58:58.770' AS DateTime), CAST(N'2022-07-29T11:58:58.770' AS DateTime), NULL, NULL, 1, 0, 0, NULL)
INSERT [dbo].[Class] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [SubjectId], [Code]) VALUES (3, N'Lớp Kinh Doanh', CAST(N'2022-07-29T11:58:58.770' AS DateTime), CAST(N'2022-07-29T11:58:58.770' AS DateTime), NULL, NULL, 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassSchedule] ON 

INSERT [dbo].[ClassSchedule] ([Id], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (51, 1, 0, 0, CAST(N'2022-07-29T10:16:34.443' AS DateTime), CAST(N'2022-07-29T10:16:34.443' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[ClassSchedule] ([Id], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (52, 1, 0, 1, CAST(N'2022-07-29T10:16:34.443' AS DateTime), CAST(N'2022-07-29T10:16:34.443' AS DateTime), NULL, NULL, 0, 0)
INSERT [dbo].[ClassSchedule] ([Id], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (53, 1, 1, 0, CAST(N'2022-07-29T10:16:34.443' AS DateTime), CAST(N'2022-07-29T10:16:34.443' AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[ClassSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleEntities] ON 

INSERT [dbo].[ScheduleEntities] ([Id], [StudentId], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, 8, 1, 0, 0, CAST(N'2022-07-29T11:07:32.010' AS DateTime), CAST(N'2022-07-29T11:07:32.010' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[ScheduleEntities] ([Id], [StudentId], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, 9, 1, 0, 0, CAST(N'2022-07-29T11:07:35.547' AS DateTime), CAST(N'2022-07-29T11:07:35.547' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[ScheduleEntities] ([Id], [StudentId], [LopId], [Rank], [Session], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, 8, 1, 0, 1, CAST(N'2022-07-29T12:40:10.057' AS DateTime), CAST(N'2022-07-29T12:40:10.057' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[ScheduleEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'Môn Toán', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'Môn Lý', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (4, N'Môn Hóa', CAST(N'2022-07-28T05:13:47.910' AS DateTime), CAST(N'2022-07-28T05:13:47.910' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLop] ON 

INSERT [dbo].[UserLop] ([Id], [LopId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [UserId]) VALUES (37, 1, CAST(N'2022-07-29T10:16:34.477' AS DateTime), CAST(N'2022-07-29T10:16:34.477' AS DateTime), NULL, NULL, 0, 0, 9)
INSERT [dbo].[UserLop] ([Id], [LopId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete], [UserId]) VALUES (38, 1, CAST(N'2022-07-29T10:16:34.477' AS DateTime), CAST(N'2022-07-29T10:16:34.477' AS DateTime), NULL, NULL, 0, 0, 8)
SET IDENTITY_INSERT [dbo].[UserLop] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPoint] ON 

INSERT [dbo].[UserPoint] ([Id], [UserId], [Period], [Year], [PointStudy], [PointGK], [PointCK], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, 9, 1, 2022, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(N'2022-07-29T12:41:56.383' AS DateTime), CAST(N'2022-07-29T12:41:56.383' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[UserPoint] ([Id], [UserId], [Period], [Year], [PointStudy], [PointGK], [PointCK], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, 8, 0, 2022, CAST(3.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(18, 2)), CAST(N'2022-07-29T12:42:46.260' AS DateTime), CAST(N'2022-07-29T12:42:46.260' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[UserPoint] ([Id], [UserId], [Period], [Year], [PointStudy], [PointGK], [PointCK], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, 8, 2, 2022, CAST(4.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(N'2022-07-29T12:51:44.793' AS DateTime), CAST(N'2022-07-29T12:51:44.793' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[UserPoint] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'0001', N'Admin', NULL, 1, NULL, 0, NULL, N'admin@gmail.com', N'123456', NULL, CAST(N'2022-07-29T11:58:58.577' AS DateTime), CAST(N'2022-07-29T11:58:58.577' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Users] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'0002', N'Giáo Viên A', NULL, 1, NULL, 2, NULL, N'giaovien2@gmail.com', N'123456', NULL, CAST(N'2022-07-29T11:58:58.730' AS DateTime), CAST(N'2022-07-29T11:58:58.730' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Users] ([Id], [Code], [Name], [Address], [Gender], [Phone], [Role], [DateOfBirth], [Email], [Password], [Username], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'0003', N'Giáo Viên B', NULL, 1, NULL, 2, NULL, N'giaovien3@gmail.com', N'123456', NULL, CAST(N'2022-07-29T11:58:58.733' AS DateTime), CAST(N'2022-07-29T11:58:58.733' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Class] ADD  DEFAULT ((0)) FOR [SubjectId]
GO
ALTER TABLE [dbo].[UserLop] ADD  DEFAULT ((0)) FOR [UserId]
GO
USE [master]
GO
